<%provide :page_title, 'Home' %>
<% currently_at 'Home' %>

<div style="text-align: center;">
    <h1 class="text-danger">
      SnapFeed
    </h1>

    <div class="text-center">
      <%= link_to posts_path do %>
      <%= image_tag "logo.jpeg", alt: "Логотип SnapFeed", style: "width: 350px; height: 350px;" %>
      <% end %>
    </div>
</div>


<h2 class="text-danger text-center mb-4">
    <% if user_signed_in? %>
    I'm glad to see, you <%= current_user.name %>!

    <% else %>
    <div><%= nav_tab 'Sign Up', new_user_path,
                    class: 'nav-link px-2 text-danger' %></div>
    <% end %>
</h2>

<footer class="fixed-bottom text-center bg-dark text-light py-3 mt-4">
  <div class="container">
    <div>&copy; melentev prod. <%= Time.now.year %></div>
  </div>
</footer>