<article class="card mt-3 mb-3 text-center mx-auto" style="max-width: 600px;"> 
  <section class="card-header">
    <%= post.user.name_or_email %>
  </section>

  <div class="card-body">

    <div class="img-container">
        <% if post.image.present? %>
          <%= image_tag post.image_url %>
        <% end %>
      </div>

    <h5 class="mt-3"><%= post.title %></h5>

    <div class="my-2">
      <%= render post.tags %>
    </div>

    <section class="card-text">
      <p class="my-2">
        <%= truncate(strip_tags(post.body), length: 70) %>
      </p>
      
    </section>

    <div class="mt-4">
      <%= link_to "Answers & Edit", post_path(post), class: 'btn btn-dark btn-sm' %>

      <% if policy(post).edit? %>
        <%= link_to "Edit", edit_post_path(post), class: 'btn btn-secondary btn-sm' %>
      <% end %>

      <% if policy(post).destroy? %>
        <%= link_to "Delete", post_path(post), class: 'btn btn-danger btn-sm',
                  data: {method: :delete, confirm: "Are you sure?"} %>
      <% end %>
    </div>
  </div>

 <%= render partial: 'likes/like', locals: { post: post } %>


  <div class="mx-3 mb-4 text-secondary">
    <time datetime="<%= post.formatted_created_at %>">
      <small><%= post.formatted_created_at %></small>
    </time>
  </div>
</article>
