<article class="card mt-3 mb-3">
  <section class="card-header">
    <%= post.user.name_or_email %>
  </section>

  <div class="card-body">
    <h5><%= post.title %></h5>

    <section class="card-text">
      <p class="my-2">
        <%= truncate(strip_tags(post.body), length: 70) %>
      </p>
    </section>


    <div class="mt-4">
      <%= link_to "Show", post_path(post), class: 'btn btn-dark btn-sm' %>
      <%= link_to "Edit", edit_post_path(post), class: 'btn btn-secondary btn-sm' %>
      <%= link_to "Delete", post_path(post), class: 'btn btn-danger btn-sm',
                  data: {method: :delete, confirm: "Are you sure?"} %>
    </div>
  </div>

  <div class="mx-3 mb-4 text-secondary">
    <time datetime="<%= post.formatted_created_at %>">
      <small><%= post.formatted_created_at %></small>
    </time>
  </div>
</article>