<% provide :page_title, 'Feed' %>
<% currently_at 'Feed' %>

<div class="text-center">
  <%= link_to root_path do %>
    <%= image_tag "logo.jpeg", alt: "Логотип SnapFeed", class: "logo-img", style: "width: 116px; height: 116px;" %>
  <% end %>
  <h2 class="text-danger mb-4">SnapFeed</h2>


<% #два знака равенства позволяют обрабатывать html разметку, как row %>
<%== pagy_bootstrap_nav @pagy %>

<% @posts.each do |post| %>
<article class="card mt-3 mb-3">
  <div class="card-body">
    <h5><%= post.title %></h5>

    <section class="card-text">


      <p class="my-2">
        <%= truncate strip_tags(post.body), length: 70 %>
      </p>
    </section>

      <%= link_to "Show", post_path(post), class: 'btn btn-dark' %>
      <%= link_to "Edit", edit_post_path(post), class: 'btn btn-secondary' %>
      <%= link_to "Delete", post_path(post), class: 'btn btn-danger',
                  data: {method: :delete, confirm: "Are you sure?"} %>
  </div>

  <div class="mx-3 mb-4 text-secondary">
    <time datetime="<%= post.formatted_created_at %>">
      <small><%= post.formatted_created_at %></small>
    </time>
  </div>
</article>
<% end %>

<%== pagy_bootstrap_nav @pagy %>