<% provide :page_title, 'Feed' %>
<% currently_at 'Feed' %>

<div class="text-center">
<%= link_to root_path do %>
    <%= image_tag "logo.jpeg", alt: "Логотип SnapFeed", class: "logo-img", style: "width: 80px; height: 80px;" %>
  <% end %>

</div>

<%= pagination @pagy %>

<%= render @posts %>

<%= pagination @pagy %>