<% provide :page_title, 'Feed' %>
<% currently_at 'Feed' %>

<div class="text-center">
  <%= link_to root_path do %>
    <%= image_tag "logo.jpeg", alt: "Логотип SnapFeed", class: "logo-img", style: "width: 116px; height: 116px;" %>
  <% end %>
  <h2 class="text-danger mb-4">SnapFeed</h2>
  <%= link_to 'New post', new_post_path, class: 'btn btn-dark btn-lg mb-3 mt-3' %>
</div>

<%= pagination @pagy %>

<%= render @posts %>>

<%= pagination @pagy %>