<%provide :page_title, @post.title %>
<% currently_at 'Feed' %>

<article class="card mt-3 mb-3 text-center mx-auto" style="max-width: 300px;"> <!-- Уменьшенная максимальная ширина -->
  <section class="card-header">
    <%= link_to @post.user.name_or_email, user_posts_path(@post.user), class: "user-profile-link" %>
  </section>

  <div class="card-body">
    <div class="img-container">
      <% if @post.image.present? %>
        <%= image_tag @post.image_url, style: "max-width: 100%;" %> <!-- Измененный размер изображения -->
      <% end %>
    </div>

    <h5 class="mt-3"><%= @post.title %></h5>

    <div class="my-2">
      <%= render @post.tags %>
    </div>

    <section class="card-text">
      <p class="my-2">
        <%= truncate(strip_tags(@post.body), length: 70) %>
      </p>
    </section>

    <div class="mt-4">
      
      <% if policy(@post).edit? %>
        <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-secondary btn-sm' %>
      <% end %>

      <% if policy(@post).destroy? %>
        <%= link_to "Delete", post_path(@post), class: 'btn btn-danger btn-sm',
                    data: {method: :delete, confirm: "Are you sure?"} %>
      <% end %>
    </div>
  </div>

  <%= render partial: 'likes/like', locals: { post: @post } %>

  <div class="mx-3 mb-4 text-secondary">
    <time datetime="<%= @post.formatted_created_at %>">
      <small><%= @post.formatted_created_at %></small>
    </time>
  </div>
</article>


<hr class="my-4">

<h5 class="mb-4 mt-4 text-danger">
  Write your comment
</h5>


<%= render 'comments/form' %>

<hr class="my-3">

<h3 class="mb-4 mt-4 text-danger">
  Comments
</h3>

<%= pagination @pagy %>

<% #используется частичное представление с именем 'comments/comment',
   #рендерим коллекцию, элементы коллецкии называются comment(помещатся по очереди в эту переменную),
   #мы передаем переменную @post, чтобы иметь доступ к контексту поста изнутри частичного представления.  %>
<%= render partial: 'comments/comment', collection: @comments,
           as: :comment, locals: {post: @post} %>

<%= pagination @pagy %>

