<%provide :page_title, @post.title %>
<% currently_at 'Feed' %>

<h3 class="mb-2 text-danger">
  <%= @post.title %>
</h3>

  <p class="lead my-2 mb-4">
    <%= @post.body %>
  </p>

<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-secondary' %>
<%= link_to "Delete", post_path(@post), class: 'btn btn-danger',
            data: {method: :delete, confirm: "Are you sure?"} %>

<div class="mt-2 mb-4 text-secondary">
  <time datetime="<%= @post.formatted_created_at %>">
    <%= @post.formatted_created_at %>
  </time>
</div>

<hr class="my-4">

<h5 class="mb-4 mt-4 text-danger">
  Write your comment
</h5>

<%= render 'comments/form' %>

<hr class="my-3">

<h3 class="mb-4 mt-4 text-danger">
  Comments
</h3>

<%= pagination @pagy %>

<% #используется частичное представление с именем 'comments/comment',
   #рендерим коллекцию, элементы коллецкии называются comment(помещатся по очереди в эту переменную),
   #мы передаем переменную @post, чтобы иметь доступ к контексту поста изнутри частичного представления.  %>
<%= render partial: 'comments/comment', collection: @comments,
           as: :comment, locals: {post: @post} %>

<%= pagination @pagy %>