<%provide :page_title, @post.title %>
<% currently_at 'Feed' %>

<article class="card mt-3 mb-3 text-center mx-auto" style="max-width: 600px;">
<div class="card mb-4">
  <div class="card-header bg-dark text-white">
    <h3 class="card-title mb-0">
      <%= @post.title %>
    </h3>
  </div>

  <div class="card-body">
    <p class="card-text lead mb-4">
      <%= @post.body %>
    </p>
    <div class="img-container">
        <% if @post.image.present? %>
          <%= image_tag @post.image_url %>
        <% end %>
      </div>

    <div class="card-footer mt-2">
      <span class="text-muted">
        Posted by <%= @post.user.name_or_email %>
      </span>
    </div>
  </div>
</div>

<% if current_user.model && current_user.model != @post.user %>
  <div class="mt-2 mb-4">
    <% if current_user.model.following?(@post.user) %>
      <%= link_to "Unfollow", user_follows_path(@post.user), method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Follow", user_follows_path(@post.user), method: :post, class: "btn btn-dark" %>
    <% end %>
  </div>
<% end %>



<%# Пока в раздумьях нужны ли тут вопросы %>
<% render 'subcomments/subcommentable', subcommentable: @post, subcomment: @subcomment,
  html_id: 'postSubcomments' %>

<div>
<% if policy(@post).edit? %>
  <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-secondary mb-4' %>
<% end %>

<% if policy(@post).destroy? %>
  <%= link_to "Delete", post_path(@post), class: 'btn btn-danger mb-4',
              data: {method: :delete, confirm: "Are you sure?"} %>
<% end %>
</div>

<div class="mt-2 mb-4 text-secondary">
  <time datetime="<%= @post.formatted_created_at %>">
    <%= @post.formatted_created_at %>
  </time>
</div>

</article>

<hr class="my-4">

<h5 class="mb-4 mt-4 text-danger">
  Write your comment
</h5>

<%= render 'comments/form' %>

<hr class="my-3">

<h3 class="mb-4 mt-4 text-danger">
  Comments
</h3>

<%= pagination @pagy %>

<% #используется частичное представление с именем 'comments/comment',
   #рендерим коллекцию, элементы коллецкии называются comment(помещатся по очереди в эту переменную),
   #мы передаем переменную @post, чтобы иметь доступ к контексту поста изнутри частичного представления.  %>
<%= render partial: 'comments/comment', collection: @comments,
           as: :comment, locals: {post: @post} %>

<%= pagination @pagy %>

